# Database Settings
DATABASE_URL=postgres://user:password@localhost:5432/quickbite

# Server Settings
PORT=3000
NODE_ENV=development

# JWT Secret
JWT_SECRET=supersecretpassword

# Profiling Settings
LOG_QUERIES=true
